.container {
    /* αυτομάτως τα παιδιά εφαρμοζουν την ιδιότητα display: flex (τα βάζει στην ιδια γραμμη) */
    display: flex;
    width: 90%;
    height: 500px;
    border: 1px solid black;
    /* οριζοντια στοιχιση στην αρχη της γραμμης*/
    justify-content: flex-start;
    /* οριζοντια στοιχιση στο τελος της γραμμης*/
    justify-content: flex-end;
    /* οριζοντια στοιχιση στο κεντρο*/
    justify-content: center;
    /* οριζοντια στοιχιση στο κεντρο με ισο κενό αναμεσα*/
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;

    /* καθετη στοιχιση */
    align-items: start;
    align-items: center;
    align-items: end;
    /* πρεπει να μην εχω height στο div[class^="box"] */
    align-items: stretch; 

}

/* This selector will match any div where the class name begins exactly with the characters "box" */
div[class^="box"] {
    width: 200px;
    height: 200px;
    margin: 0 5px;
    background-color: lightblue;
    border: 1px solid black;
}