.container {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

div[class^="box"] {
    width: 60px;
    height: 60px;
    background-color: lightblue;
    margin: 5px 5px;
    text-align: center;
    line-height: 60px;
}

/* by default το flex δινει order 0 σε ολα τα στοιχεια. Δινοντας order 1, εμφανιζεται μετά από οσα εχουν order 0
Δηλαδη εμφανιζει τα στοιχεια με βάσει το  order σε αυξουσα σειρα */
.box1 {
    order: 1;
}

.box3 {
    order: 1;
}