.outer {
    background-color: rgb(39, 137, 228);
    width: 400px;
    height: 500px;
    display: grid;
    justify-content: center;
    align-items: flex-start;
}

.inner {
    background-color: white;
    width: 300px;
    height: 400px;
    margin-top: 10px;
    border-radius: 5px;
    /* display: flex; */
    /* width: 100%; */
    /*  */
}

h1 {
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    padding: 20px;

}

.input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(241, 238, 238);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

.signin {
    background-color: rgb(39, 137, 228);
    text-align: center;
    width: 260px;
    height: 45px;
    /* padding: 10px; */
    box-sizing: content-box;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    margin-left: 20px;
    border-radius: 5px;
}

#signin {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 16px;    
    font-family: Arial, Helvetica, sans-serif;
}

.lostpass {
    text-align: center;
    margin-top: 10px;
    width: 260px;
    height: 45px;
    box-sizing: content-box;
    justify-content: center;
    display: flex;
    margin-left: 20px;
}

#lostpass {
    display: inline-block;
    padding: 1rem 2.5px;
    font-size: 20px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.account {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 5px; */
    font-size: 18px;
}

#account {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}