.cod-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    font-size: 1.2rem;

    /* 100 - 400 (normal) - 700 (bold) - 900 */
    font-weight: 700;

    /*  */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    text-align: center;
}

.cod-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 1rem;

    font-weight: 400;

    line-height: 1.5; /* for readability */

    color: rgb(21, 5, 120);
}