th, td, table {
    border: 1px solid black;
    /*  */
}

table {
    /* box model */
    /* table in the center */
    margin-left: auto;
    margin-right: auto;
    /* katevaini */
    margin-top: 50px;
    width: 500px;

    /* Typography */
    text-align: center;

    /* Decoration */
    border-collapse: collapse;
}

h1 {
    text-align: center;
}