/* body {
    background-color: red;
    color: blue;
} */

/* @media all {
    body {
        background-color: orange;
        color: aqua;
    }
} */

/* μεγαλυτερο απο 992px */
@media (min-width: 992px) {
    body {
        background-color: green;
    }
}

@media (max-width: 992px) {
    body {
        background-color: yellow;
    }
}